<% provide :title, "How to get a hold of me." %>
<h1>Contact Me.</h1>
<p>
  You can find me day dreaming about snowboarding in Keller Hall at the
  <a href="http://umn.edu">University of Minnesota</a>.
</p>